%h2 Insurance
%div{class: "row span12"}
  %p
    Pace Dermatology accepts the following insurance plans. If you don’t see your plan listed, please call our office at #{link_to "(253)-572-2842", "tel:(253) 572-2842"} and we can check on your individual coverage. If we are not already a participant, we may like to become one. As a courtesy to our patients, we will submit to most PPO insurance companies for reimbursement even if we are not on their list of preferred providers.

  %ul
    %li Medicare
    %li Lifewise
    %li Premera Blue Cross
    %li Labor and Industries
    %li Humana/Choice Care
    %li Regence BlueShield
    %li AARP
    %li Aetna
    %li Cigna
    %li Community Health Plan
    %li First Choice Health
    %li First Health
    %li Group Health Cooperative
    %li Medicaid
    %li Molina Healthcare
    %li Multiplan/PHCS/Beechstreet
    %li United Health Care
    %li Tricare – If Tricare is your primary coverage, an out of network referral may be required.
