%h2 Medical Dermatology
%div{class: "row span12"}
  %p
    We provide the full spectrum of medical dermatologic care, all of which is performed by a board certified dermatologist. Below are a few of the most common skin conditions we treat. Dr. Pace has a special interest in pigmented nevi, moles, as well as skin cancer, and rashes. Please call our office at #{link_to "(253) 572-2842", "tel:(253) 572-2842"} to make an appointment or see if we are able to treat your condition.

  %ul
    %li Acne
    %li Scars
    %li Aging Skin
    %li Skin Cancers
    %li Moles
    %li Rashes
    %li Eczema
    %li Cysts
    %li Psoriasis
    %li Rosacea
    %li Shingles
    %li Warts
    %li Birthmarks
    %li Dermatitis
    %li Poison Ivy
    %li Boils
    %li Hair Infections
    %li Excessive Sweating
