%div{class: "row span12"}
  %div
    %h4
      Our Office Numbers:
    %p
      Phone:  (253) 572-2842
      %br
      Fax: (253) 572 2856

  %div
    %h4
      Address
    %address
      Allenmore Medical Office Building B
      %br
      1901 South Union Ave., Suite B3003
      %br
      Tacoma, WA 98405
