%div{class: "row"}
  %div{id: "homeCarousel", class: "carousel slide"}
    %ol{class: "carousel-indicators"}
      %li{"data-target" => "#homeCarousel", "data-slide-to" => "0", class: "active"}
      %li{"data-target" => "#homeCarousel", "data-slide-to" => "1"}
      %li{"data-target" => "#homeCarousel", "data-slide-to" => "2"}
    %div{class: "carousel-inner"}
      %div{class: "active item"}
        =image_tag "carousel/aaron.jpg"
        %div{class: "carousel-caption"}
          %h4 Welcome
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies
      %div{class: "item"}
        =image_tag "carousel/art.jpg"
        %div{class: "carousel-caption"}
          %h4 Welcome
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies          
      %div{class: "item"}
        =image_tag "carousel/art.jpg"
        %div{class: "carousel-caption"}
          %h4 Welcome
          %p Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies        
    =link_to "&lsaquo;".html_safe, "#homeCarousel", class: "carousel-control left", "data-slide" => "prev"
    =link_to "&rsaquo;".html_safe, "#homeCarousel", class: "carousel-control right", "data-slide" => "next"
%div{class: "row"}
  %div{class: "hero-unit"}
    %p
      The premier source of medical, surgical, and aesthetic Dermatology in the Tacoma area.
    %p
      =link_to "Book an Appointment Today", root_path, class: "btn btn-primary btn-large"
      =link_to "Learn More &raquo;".html_safe, root_path, class: "btn btn-large"
