%div{class: "row span12"}
  %h3 Our Mission
  %p
    We strive for excellence in patient care and are dedicated to practicing medicine with dignity, compassion, and quality, specifically caring for diseases of the skin, hair and nails.
  %em
    I hope you will join us in meeting our mission.
