%div{class: "row"}
  %p{class: "pull-right"}
    Call us at
    =link_to "(253) 572-2842", "tel:253-572-2842"
    to 
    =link_to "book an appointment", "http://zocdoc.com/practice/pace-dermatology-associates-11032"
    today
%div{class: "row"}
  %p{class: "pull-right"}
    =link_to "http://twitter.com/akpaceskindoc" do
      =image_tag "twitter.png"
    =link_to "http://facebook.com/pacedermatology" do
      =image_tag "facebook.png"
    =link_to "http://youtube.com/pacedermatology" do
      =image_tag "youtube.png"
    =link_to feeds_path do
      =image_tag "rss.png"
  %p
    =link_to root_path do
      =image_tag "logo.png"
%div{class: "row"}
  %div{class: "navbar navbar-inverse"}
    %div{class: "navbar-inner"}
      %ul{class: "nav"}
        %li
          =link_to "Home", root_path
        %li{class: "dropdown"}
          %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
            About
            %b{class: "caret"}
          %ul{class: "dropdown-menu"}
            %li{class: "dropdown-submenu"}
              =link_to "Our Providers", "#"
              %ul{class: "dropdown-menu"}
                %li
                  =link_to "Dr. Aaron Pace, MD", about_aaron_pace_path
                %li
                  =link_to "Dr. Andrew Pace, MD", about_andrew_pace_path
                %li
                  =link_to "Shelly Velickoff, ARNP", about_shelly_velickoff_path                 
            %li
              =link_to "Our Staff", about_staff_path
            %li
              =link_to "Our Mission", about_mission_path
        %li{class: "dropdown"}
          %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
            Services
            %b{class: "caret"}
          %ul{class: "dropdown-menu"}
            %li
              =link_to "Insurance Coverage", services_insurance_path
            %li
              =link_to "Medical", services_medical_path
            %li
              =link_to "Surgical", services_surgical_path
            %li
              =link_to "Cosmetic", services_cosmetic_path
            %li{class: "dropdown-submenu"}
              =link_to "Lasers", services_lasers_path
              %ul{class: "dropdown-menu"}
                %li
                  =link_to "Laser Hair Removal", services_hair_removal_path
                %li
                  =link_to "IPL Skin Rejuvenation", services_ipl_path
                %li
                  =link_to "Laser Vein Removal", services_vein_removal_path
            %li
              =link_to "Light Therapy", services_nbuvb_path
        %li
          =link_to "Shop", shop_home_path
        %li{class: "dropdown"}
          %a{href: "#", class: "dropdown-toggle", "data-toggle" => "dropdown"}
            Patients
            %b{class: "caret"}
          %ul{class: "dropdown-menu"}
            %li
              =link_to "Current Patient Login", "https://pace.nextechweb.com/patient"
            %li
              =link_to "New Patient Login", "https://pace.nextechweb.com/patient/newuser"
        %li
          =link_to "Resources", blogs_path
        %li
          =link_to "Blog", blogs_path
        %li
          =link_to "Contact", pages_contact_path
