!!! 5
%html
  %head
    %title Pace Dermatology - #{@page_title || "Come in today"}
    =stylesheet_link_tag "application"
  %body
    %div{class: "container"}
      =render partial: "layouts/header"
      =yield
      =render partial: "layouts/footer"
    =javascript_include_tag "http://code.jquery.com/jquery.js"
    =javascript_include_tag "application"
